@import "./assets/styles/global.scss";
@import "./assets/styles/reset.scss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("./assets/fonts/Inter-Light.woff2") format("woff2"),
    url("./assets/fonts/Inter-Light.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("./assets/fonts/Inter-Regular.woff2") format("woff2"),
    url("./assets/fonts/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("./assets/fonts/Inter-Medium.woff2") format("woff2"),
    url("./assets/fonts/Inter-Medium.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src:
    url("./assets/fonts/Inter-SemiBold.woff2") format("woff2"),
    url("./assets/fonts/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("./assets/fonts/Inter-Bold.woff2") format("woff2"),
    url("./assets/fonts/Inter-Bold.woff") format("woff");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $default-font-family;
}

body > * {
  box-sizing: border-box;
}

:root {
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
