html,
body {
  height: 100%;
}
/* Custom scrollbar styles */
*::-webkit-scrollbar {
  width: 13px;
}
*::-webkit-scrollbar-track {
  background: $background-color;
  box-shadow: inset 0 0 10px 10px $background-color;
  border: solid 3px $input-field-color;
  @include maxScreen($breakpoint-lg-4) {
    margin-top: $navbar-height-sm;
  }
}
*::-webkit-scrollbar-thumb {
  background: $secondary-font-2;
  border: 3px $background-color solid;
  border-radius: 10px;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

body {
  margin: 0;
  min-height: 100vh;
  color: $primary-font;
}

@media screen and (max-width: 991px) {
  :root {
    --navbar-width: 0rem;
  }
}
