@use "sass:math";

@function strip-unit($number) {
  @if (type-of($number) == "number" and not unitless($number)) {
    @return math.div($number, ($number * 0 + 1));
  }
  @return $number;
}

@mixin smoothValue(
  $prop,
  $min,
  $max,
  $minViewPort: $mobile,
  $maxViewPort: $desktop,
  $minScreen: true
) {
  @if $minScreen {
    @media (min-width: $minViewPort) {
      #{$prop}: $max;
    }
  }
  @media (min-width: $minViewPort) and (max-width: ($maxViewPort - 1)) {
    #{$prop}: calc(
      #{$min} + #{strip-unit($max - $min)} *
        (
          (100vw - #{$minViewPort}) /
            (#{strip-unit($maxViewPort - $minViewPort)})
        )
    );
  }
  @media (max-width: ($minViewPort - 1)) {
    #{$prop}: $min;
  }
}

// Media
// Define the mixin for a minimum screen width
@mixin minScreen($size) {
  @media only screen and (min-width: $size) {
    @content;
  }
}

// Define the mixin for a maximum screen width
@mixin maxScreen($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

// Define the mixin for a maximum screen height
@mixin maxHeight($size) {
  @media only screen and (max-height: $size) {
    @content;
  }
}

@mixin container {
  margin-top: $padding-md;
  transition: 300ms ease-in-out;
  background-color: $background-color;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: auto;

  @include maxScreen($breakpoint-lg-2) {
    margin-top: $margin-xs;
    overflow-y: visible;
  }

  @include maxScreen($breakpoint-md-2) {
    margin-top: 8px;
  }
}

@mixin containerContent {
  padding: 30px 20px 30px 20px;
  border-top-right-radius: $radius-extra-large;
  background-color: $light-color;
  border: 0.25px solid $border-color;
  height: fit-content;
  flex-grow: 1;
  @include scrollbar();
  @include minScreen($breakpoint-lg-2) {
    overflow-y: scroll;
    overflow-x: auto;
    padding-bottom: $footerHeight;
  }
  @include maxScreen($breakpoint-lg-2) {
    flex-grow: 1;
    height: 120%;
  }
  @include maxScreen($breakpoint-sm) {
    border-top-right-radius: $radius-medium;
    padding: 18px 10px;
  }
}

@mixin formsCards($grid-template-rows) {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: $grid-template-rows;
  grid-column-gap: 0px;
  grid-row-gap: $margin-sm;
  padding: $padding-md;
  border: 1px solid $border-color;
  border-radius: $radius-medium;
  .formField {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 38px;

    .dropdowns {
      box-shadow: none;
    }

    label,
    span {
      @include text-t5;
      color: $primary-font;
      width: 250px;
    }

    &:nth-child(1) {
      grid-area: 1 / 1 / 2 / 2;
    }
    &:nth-child(2) {
      grid-area: 2 / 1 / 3 / 2;
    }
    &:nth-child(3) {
      grid-area: 3 / 1 / 4 / 2;
    }
    &:nth-child(4) {
      grid-area: 4 / 1 / 5 / 2;
    }
  }

  @include maxScreen($breakpoint-sm) {
    grid-row-gap: $margin-xs;
    padding: 15px 10px;
    .formField {
      width: 60%;
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      label,
      span {
        margin-bottom: $margin-xxs;
      }
      &:nth-child(4) {
        width: 100%;
        div {
          width: 100%;
        }
      }
    }
  }
  button {
    @include button(
      7px,
      $light-blue,
      $light-blue-hover,
      $light-blue-hover,
      $light-color,
      $light-color,
      auto,
      42px,
      $secondary-font,
      $disabled-button-light
    );
    @include text-t1;
  }
}

@mixin button(
  $radius,
  $background-color,
  $hover-color,
  $active-color,
  $text-color,
  $text-hover-color,
  $width,
  $height,
  $disabled-text-color: #354e83,
  $disabled-background-color: #1b346d
) {
  border: none;
  border-radius: $radius;
  background: $background-color;
  color: $text-color;
  width: $width;
  height: $height;
  @include text-t2;

  cursor: pointer;
  &:hover {
    background: $hover-color;
    color: $text-hover-color;
  }
  &:active {
    background: $active-color;
    color: $text-hover-color;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
  &:disabled {
    color: $disabled-text-color;
    cursor: not-allowed;
    opacity: 0.3;
    background-color: $disabled-background-color;
    // border: $border-onbloarding;
  }
}

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 11px;
  }
  &::-webkit-scrollbar-track {
    background: $light-color;
    box-shadow: inset 0 0 10px 10px $light-color;
    border: solid 3px transparent;
    margin-top: 15px;
    margin-bottom: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background: $background-color;
    border: 1px $input-field-color solid;
    border-radius: 10px;
  }
  // Pour Firefox
  scrollbar-width: 10px;
  scrollbar-color: $background-color $light-color;
}

@mixin inputStyle {
  height: 40px;
  border-radius: $radius-small;
  padding: $padding-xxs;
  border: 1px solid $border-color;
  font-weight: 400;
  line-height: 125%;
  @include smoothValue("font-size", 14px, 15px, $breakpoint-xs, $breakpoint-lg);

  &:hover {
    border: 1px solid $secondary-font;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  &:active {
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25) inset;
  }
}
