.mobileNavbar {
  background-color: $main-color;
  display: flex;
  height: $navbar-height-sm;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 110;

  .navbar-toggler {
    display: flex;
    display: n;
    background: none;
    border: none;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: $padding-sm $padding-sm $padding-sm $padding-md-2;
    a {
      display: flex;
      align-items: center;
    }

    .burger-close-btn,
    .burger-open-btn {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .navbar-collapse {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: $main-color;
    position: absolute;
    top: $navbar-height-sm;
    z-index: 10;
    transition: max-height 0.3s;
    overflow: hidden;
    max-height: 0;
    height: calc(100vh - #{$navbar-height-sm});
    .transactionLink {
      color: $light-blue;
      background-color: $main-color;
      border: none;
      padding-left: 0;
      text-align: left;
      @include text-t1;
      margin-top: $margin-md;
      @include minScreen($breakpoint-md-2 + 1) {
        display: none;
      }
    }
  }

  .navbar-collapse.show {
    max-height: 100vh;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: $link-padding-mobile 20px 0px $link-padding-mobile;
    width: 100%;

    .nav-link {
      color: $secondary-font-2;
      border-radius: $radius-medium;
      border: 1px solid $nav-dark-blue;
      row-gap: 8px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      width: 100%;
      padding: 10px 0 10px 20px;
      &:hover {
        background-color: $blue-opacity;
        border-radius: $radius-medium;
      }
    }

    .nav-item {
      display: flex;
      height: 3rem;
      border-radius: $radius-medium;
      margin-bottom: $margin-xs;
      width: 100%;
      justify-content: center;

      &.active {
        background-color: $light-blue;
        border-radius: $radius-medium;
        .nav-link {
          color: $light-color !important;
          border-radius: $radius-medium;
        }
        .navLogo {
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%)
            saturate(7476%) hue-rotate(357deg) brightness(108%) contrast(108%);
        }
      }
    }

    .link-text {
      @include text-t4;
      margin-left: 1.25rem;
      visibility: visible;
      opacity: 1;
      display: inline-block;
    }
  }

  @keyframes growDown {
    0% {
      max-height: 0;
    }
    100% {
      max-height: 100vh;
    }
  }
}
